body {
    background-image: url(200799.jpg);
    justify-content: center;
    align-items: center;
}

.task {
    color: white;
    text-align: center;
    margin: 15% 20% 1%;
}

.task h1 {
    font-weight: bold;
    font-size: 20px;
}

.task p {
    margin-top: 10px;
}

.answer {
    text-align: center;
}

.answer button {
    position: relative;
    width: 200px;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid rgb(229, 158, 36);
    background: transparent;
    color: white;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    border-radius: 40px;
}

span {
    background: rgba(137, 89, 6, 0.292);
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

button:hover span {
    width: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(229, 158, 36, 0.471);
    color: white;
    text-align: center;
}

footer p {
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: black;
}